/*!*************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/main.scss ***!
  \*************************************************************************************************************/
@charset "UTF-8";
img.responsive-img {
  width: auto;
  max-width: 100%;
  height: auto;
  padding: 0;
}

.fit-content {
  max-width: fit-content;
}

.box-shadow {
  -webkit-box-shadow: 0px 5px 15px -4px #000000;
  box-shadow: 0px 5px 15px -4px #000000;
}

.responsive-ancre:target {
  padding-top: 154px;
  margin-top: -154px;
}

@media (max-width: 575.98px) {
  .responsive-ancre:target {
    padding-top: 208px;
    margin-top: -208px;
  }
}
.display-contents {
  display: contents;
}

.vignette {
  min-height: 200px;
  min-width: 300px;
  max-width: 300px;
  max-height: 200px;
  width: 300px;
  height: 200px;
  overflow: hidden;
}

.visu-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 90%;
  bottom: 0;
  background-color: #dadada;
}

:fullscreen .visu-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1021;
}

.visu {
  width: 100%;
  height: 100%;
  background: #000;
  box-sizing: border-box;
}

/* paramètres */
.parametre {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
  background: #181818;
  font-size: 20px;
}

:fullscreen .parametre {
  position: fixed;
  bottom: 0;
}

/* progress bar */
.progress {
  position: absolute;
  top: 20px;
  left: 10%;
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  display: flex;
  height: 20px;
  width: 80%;
}

#progress-value {
  /*animation: load 3s normal forwards;*/
  box-shadow: 0 10px 40px -10px blue;
  border-radius: 100px;
  background: #172e73;
  height: 10px;
  width: 0;
}

@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
    visibility: hidden;
  }
}
/* switch et plein ecran */
#plein-ecran {
  color: white;
  cursor: pointer;
}

.switch-wrapper {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.label-text {
  margin-left: 20px;
  margin-right: 5px;
}

.toggle {
  isolation: isolate;
  position: relative;
  height: 24px;
  width: 48px;
  border-radius: 15px;
  background: #d6d6d6;
  border-color: white;
  overflow: hidden;
}

.toggle-inner {
  z-index: 2;
  position: absolute;
  top: 1px;
  left: 1px;
  height: 22px;
  width: 46px;
  border-radius: 15px;
  overflow: hidden;
}

.active-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 200%;
  background: #3971e2;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.05s linear 0.17s;
}

.toggle-state {
  display: none;
}

.indicator {
  height: 100%;
  width: 200%;
  background: white;
  border-radius: 13px;
  transform: translate3d(-75%, 0, 0);
  transition: transform 0.35s cubic-bezier(0.85, 0.05, 0.18, 1.35);
}

.toggle-state:checked ~ .active-bg {
  transform: translate3d(-50%, 0, 0);
}

.toggle-state:checked ~ .toggle-inner .indicator {
  transform: translate3d(25%, 0, 0);
}

/* parametre-scene */
.parametre-scene {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 10px;
  position: absolute;
  bottom: 50px;
}

.parametre-scene > div {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 542px) {
  .parametre-scene {
    bottom: 80px;
  }
}
/*  input intensité lumiere  light-slider */
#light-slider {
  margin-right: 5px;
}

/* color picker */
#color-input {
  margin-left: 5px;
  width: 25px;
  height: 25px;
  padding: 0;
  border-radius: 2px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #f9f9f9;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img, svg {
  vertical-align: middle;
}

[hidden] {
  display: none !important;
}

a {
  color: #5470c1;
  text-decoration: underline;
}
a:hover {
  color: #172e73;
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

 h5, h4, h3, h2, h1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3 {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem;
  }
}

h5 {
  font-size: 1.25rem;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input, button, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button, select {
  text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}
select:disabled {
  opacity: 1;
}

button, [type=button], [type=submit] {
  -webkit-appearance: button;
}
button:not(:disabled), [type=button]:not(:disabled), [type=submit]:not(:disabled) {
  cursor: pointer;
}

textarea {
  resize: vertical;
}

progress {
  vertical-align: baseline;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead, tbody, tr, td, th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

.breadcrumb {
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  padding: 0 0;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  list-style: none;
  padding: 0.5rem 1rem;
}
.breadcrumb::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border: solid 2px #3971e2;
  transform: skew(-20deg);
}

.breadcrumb-item {
  font-weight: 400;
}
.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.5rem;
}
.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: 0.5rem;
  color: #212529;
  content: var(--bs-breadcrumb-divider, "/") /* rtl: var(--bs-breadcrumb-divider, "/") */;
}
.breadcrumb-item.active {
  color: #212529;
  font-weight: 700;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  color: #5470c1;
  text-decoration: none;
}
.nav-link:hover, .nav-link:focus {
  color: #172e73;
}
.nav-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}
.nav-link.active {
  color: #172e73;
}

.nav-pills .nav-item {
  margin: 0 0.25rem;
  min-width: 150px;
}
.nav-pills .nav-link {
  background-color: #5470c1;
  color: #fff;
  border-radius: 50rem;
  text-align: center;
}
.nav-pills .nav-link.disabled {
  background-color: #b6caf2;
}
.nav-pills .nav-link.active {
  color: #f9f9f9;
  background-color: #172e73;
}

.sub-nav-1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  padding: 1.5rem;
  margin-bottom: 0;
  list-style: none;
  background-color: #b6caf2;
}

@media (min-width: 576px) {
  .sub-nav-sm-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    padding: 1.5rem;
    margin-bottom: 0;
    list-style: none;
    background-color: #b6caf2;
  }
}
@media (min-width: 768px) {
  .sub-nav-md-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 1.5rem;
    margin-bottom: 0;
    list-style: none;
    background-color: #b6caf2;
  }
}

.border-success {
  border-color: #2b880d !important;
}

.fs-4 {
  font-size: calc(1.275rem + 0.3vw) !important;
}

.text-start {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

.text-dark {
  color: #212529 !important;
}

.text-white {
  color: #fff !important;
}

.bg-primary {
  background-color: #3971e2 !important;
}

.bg-secondary {
  background-color: #6c757d !important;
}

.bg-success {
  background-color: #2b880d !important;
}

.bg-light {
  background-color: #f9f9f9 !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.bg-background {
  background-color: #b6caf2 !important;
}

.opacity-25 {
  opacity: 0.25 !important;
}
@media (min-width: 1200px) {

  .fs-4 {
    font-size: 1.5rem !important;
  }
}
.badge {
  display: inline-block;
  padding: 0.5rem 0.5rem;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 50rem;
}
.badge:empty {
  display: none;
}

.btn .badge {
  position: relative;
  top: -1px;
}

.carousel {
  display: flex;
  overflow-x: auto;
  padding: 1rem 0;
  scroll-snap-type: x mandatory;
  padding-left: 0;
  list-style: none;
}

.carousel-item {
  flex: 1 0 450px;
  margin-left: 1rem;
  scroll-snap-align: start;
  max-width: fit-content;
}
@media (max-width: 767.98px) {
  .carousel-item-md {
    flex: 1 0 450px;
    margin-left: 1rem;
    scroll-snap-align: start;
    max-width: fit-content;
  }
}
.carousel::-webkit-scrollbar-track {
  background-color: #e0e0e0;
}

.carousel::-webkit-scrollbar {
  height: 6px;
  background-color: #f9f9f9;
}

.carousel::-webkit-scrollbar-thumb {
  background-color: #172e73;
  border-radius: 3px;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.input-group > .form-control, .input-group > .form-select {
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  border-radius: 0;
}
.input-group > .btn {
  border-radius: 0;
}
.input-group :first-child {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.input-group :last-child {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.search-group :first-child {
  border-top-left-radius: 50rem;
  border-bottom-left-radius: 50rem;
}
.search-group :last-child {
  border-top-right-radius: 50rem;
  border-bottom-right-radius: 50rem;
}

/*!
 * Bootstrap Grid v5.0.2 (https://getbootstrap.com/)
 * Copyright 2011-2021 The Bootstrap Authors
 * Copyright 2011-2021 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 */

.container-fluid,
.container-md {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container-md {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
   .container-md {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
   .container-md {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
   .container-md {
    max-width: 1320px;
  }
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}
.row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.col {
  flex: 1 0 0%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

@media (min-width: 576px) {

  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}
@media (min-width: 768px) {

  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
}
@media (min-width: 992px) {

  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.justify-content-evenly {
  justify-content: space-evenly !important;
}

.align-items-center {
  align-items: center !important;
}

.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.m-auto {
  margin: auto !important;
}

.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.me-1 {
  margin-right: 0.25rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.px-2 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.px-3 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pe-1 {
  padding-right: 0.25rem !important;
}

.pe-2 {
  padding-right: 0.5rem !important;
}

.ps-3 {
  padding-left: 1rem !important;
}

@media (min-width: 576px) {

  .ms-sm-auto {
    margin-left: auto !important;
  }
}
@media (min-width: 768px) {

  .d-md-block {
    display: block !important;
  }

  .d-md-none {
    display: none !important;
  }

  .flex-md-nowrap {
    flex-wrap: nowrap !important;
  }

  .justify-content-md-center {
    justify-content: center !important;
  }

  .px-md-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #3971e2;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}
.form-control[type=file] {
  overflow: hidden;
}
.form-control[type=file]:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #9cb8f1;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(57, 113, 226, 0.25);
}
.form-control::-webkit-date-and-time-value {
  height: 1.5em;
}
.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control:disabled {
  background-color: #e9ecef;
  opacity: 1;
}
.form-control::file-selector-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  margin-inline-end: 0.75rem;
  color: #212529;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 2px;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control::file-selector-button {
    transition: none;
  }
}
.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: #dde0e3;
}
.form-control::-webkit-file-upload-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  margin-inline-end: 0.75rem;
  color: #212529;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 2px;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control::-webkit-file-upload-button {
    transition: none;
  }
}
.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
  background-color: #dde0e3;
}

textarea.form-control {
  min-height: calc(1.5em + (0.75rem + 2px));
}

.form-control-color {
  max-width: 3rem;
  height: auto;
  padding: 0.375rem;
}
.form-control-color:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.form-control-color::-moz-color-swatch {
  height: 1.5em;
  border-radius: 0.25rem;
}
.form-control-color::-webkit-color-swatch {
  height: 1.5em;
  border-radius: 0.25rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: #212529;
}
 .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(57, 113, 226, 0.25);
}
.btn:disabled, .btn.disabled {
  pointer-events: none;
  opacity: 0.65;
}

.btn-primary {
  color: #fff;
  background-color: #3971e2;
  border-color: #3971e2;
}
.btn-primary:hover {
  color: #fff;
  background-color: #3060c0;
  border-color: #2e5ab5;
}
 .btn-primary:focus {
  color: #fff;
  background-color: #3060c0;
  border-color: #2e5ab5;
  box-shadow: 0 0 0 0.25rem rgba(87, 134, 230, 0.5);
}
 .btn-primary:active, .btn-primary.active {
  color: #fff;
  background-color: #2e5ab5;
  border-color: #2b55aa;
}
 .btn-primary:active:focus, .btn-primary.active:focus {
  box-shadow: 0 0 0 0.25rem rgba(87, 134, 230, 0.5);
}
.btn-primary:disabled, .btn-primary.disabled {
  color: #fff;
  background-color: #3971e2;
  border-color: #3971e2;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #5c636a;
  border-color: #565e64;
}
 .btn-secondary:focus {
  color: #fff;
  background-color: #5c636a;
  border-color: #565e64;
  box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
}
 .btn-secondary:active, .btn-secondary.active {
  color: #fff;
  background-color: #565e64;
  border-color: #51585e;
}
 .btn-secondary:active:focus, .btn-secondary.active:focus {
  box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
}
.btn-secondary:disabled, .btn-secondary.disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-success {
  color: #fff;
  background-color: #2b880d;
  border-color: #2b880d;
}
.btn-success:hover {
  color: #fff;
  background-color: #25740b;
  border-color: #226d0a;
}
 .btn-success:focus {
  color: #fff;
  background-color: #25740b;
  border-color: #226d0a;
  box-shadow: 0 0 0 0.25rem rgba(75, 154, 49, 0.5);
}
 .btn-success:active, .btn-success.active {
  color: #fff;
  background-color: #226d0a;
  border-color: #20660a;
}
 .btn-success:active:focus, .btn-success.active:focus {
  box-shadow: 0 0 0 0.25rem rgba(75, 154, 49, 0.5);
}
.btn-success:disabled, .btn-success.disabled {
  color: #fff;
  background-color: #2b880d;
  border-color: #2b880d;
}

.btn-warning {
  color: #000;
  background-color: #ffc107;
  border-color: #ffc107;
}
.btn-warning:hover {
  color: #000;
  background-color: #ffca2c;
  border-color: #ffc720;
}
 .btn-warning:focus {
  color: #000;
  background-color: #ffca2c;
  border-color: #ffc720;
  box-shadow: 0 0 0 0.25rem rgba(217, 164, 6, 0.5);
}
 .btn-warning:active, .btn-warning.active {
  color: #000;
  background-color: #ffcd39;
  border-color: #ffc720;
}
 .btn-warning:active:focus, .btn-warning.active:focus {
  box-shadow: 0 0 0 0.25rem rgba(217, 164, 6, 0.5);
}
.btn-warning:disabled, .btn-warning.disabled {
  color: #000;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-danger:hover {
  color: #fff;
  background-color: #bb2d3b;
  border-color: #b02a37;
}
 .btn-danger:focus {
  color: #fff;
  background-color: #bb2d3b;
  border-color: #b02a37;
  box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
}
 .btn-danger:active, .btn-danger.active {
  color: #fff;
  background-color: #b02a37;
  border-color: #a52834;
}
 .btn-danger:active:focus, .btn-danger.active:focus {
  box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
}
.btn-danger:disabled, .btn-danger.disabled {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-outline-primary {
  color: #3971e2;
  border-color: #3971e2;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #3971e2;
  border-color: #3971e2;
}
 .btn-outline-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(57, 113, 226, 0.5);
}
 .btn-outline-primary:active, .btn-outline-primary.active {
  color: #fff;
  background-color: #3971e2;
  border-color: #3971e2;
}
 .btn-outline-primary:active:focus, .btn-outline-primary.active:focus {
  box-shadow: 0 0 0 0.25rem rgba(57, 113, 226, 0.5);
}
.btn-outline-primary:disabled, .btn-outline-primary.disabled {
  color: #3971e2;
  background-color: transparent;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1020;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.card > .list-group {
  border-top: inherit;
  border-bottom: inherit;
}
.card > .list-group:first-child {
  border-top-width: 0;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}
.card > .list-group:last-child {
  border-bottom-width: 0;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.card > .list-group + .card-footer {
  border-top: 0;
}

.card-title {
  margin-bottom: 0.5rem;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-footer {
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  border-radius: calc(0.25rem - 1px);
}

.card-img,
.card-img-top {
  width: 100%;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-img {
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}
@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}
.modal.show .modal-dialog {
  transform: none;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}
.modal-header .btn-close {
  padding: 0.5rem 0.5rem;
  margin: -0.5rem -0.5rem -0.5rem auto;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}
.modal-footer > * {
  margin: 0.25rem;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
}
.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #000;
  background: transparent url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23000%27%3e%3cpath d=%27M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z%27/%3e%3c/svg%3e") center/1em auto no-repeat;
  border: 0;
  border-radius: 0.25rem;
  opacity: 0.5;
}
.btn-close:hover {
  color: #000;
  text-decoration: none;
  opacity: 0.75;
}
.btn-close:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(57, 113, 226, 0.25);
  opacity: 1;
}
.btn-close:disabled, .btn-close.disabled {
  pointer-events: none;
  user-select: none;
  opacity: 0.25;
}

.alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-dismissible {
  padding-right: 3rem;
}
.alert-dismissible .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 1.25rem 1rem;
}

.alert-success {
  color: #1a5208;
  background-color: #d5e7cf;
  border-color: #bfdbb6;
}

.alert-warning {
  color: #664d03;
  background-color: #fff3cd;
  border-color: #ffecb5;
}
